@import "app";


html{

    body{

        .MuiCardHeader-avatar{
            .css-i4bv87-MuiSvgIcon-root {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                width: 1.5em;
                height: 1.5em;
            }
        }

        .css-t89xny-MuiDataGrid-columnHeaderTitle{
            font-weight: bolder;
        }

        .css-ptkaw2-MuiDataGrid-root .MuiDataGrid-cell--textRight {
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            -webkit-justify-content: flex-end;
            justify-content: center;
        }
        
      .css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover{
        @extend .title-background;
      }
        
   }
  
}