$background:rgb(16, 20, 24);
$font-color:#ffff;


html{
    body{

 
        background-color: #101418;
        color: white;
        #root{
            .css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
                color:$font-color;
                background-color:$background;
            }
        
            .css-1vl95ex-MuiTypography-root{
                color:$font-color;
            }
    
            .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
                background-color: #34373a;
                color: rgba(255, 255, 255, 0.54)
            }    
            
            .css-9mgopn-MuiDivider-root {
                border-color: rgb(255 255 255 / 12%);
                border-bottom-width: medium;
                color: white;
            }
    
            .css-wa5fuu-MuiListItemIcon-root {
                color: rgba(255, 255, 255, 0.54);
            }
    
    
            .css-uxa1ks-MuiListItem-root {
                padding: 5px;
            }
    
    
            .css-1ddsiuw-MuiListItemIcon-root {
                color: rgba(255, 255, 255, 0.54);
            }
    
            @media (min-width: 900px){
                .css-1guk29 {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    gap: 15px;
                }
            }
            
            .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
                border: 1px solid rgb(255 255 255);
                color: #ffffff;
            }
    
            .dashboard-details{
                font-weight: bold;
                padding-left: 4px
            }
    
            .dashboard-display-card{
                display: flex;
                gap: 15px;
            }

            .css-ptkaw2-MuiDataGrid-root {
                color: rgb(255 255 255 / 87%);
                border-radius : 10px;
            }

            .css-rtrcn9-MuiTablePagination-root {
                overflow: auto;
                color: rgb(255 255 255 / 87%);
                font-size: 0.875rem;
            }

            .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
                color: rgb(237 237 237 / 60%);
            }

            .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon{
                color: rgb(255 255 255 / 54%);
            }

            .css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
                background-color: transparent;
                color: rgb(255 255 255 / 26%);
            }

            .css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root{
                color: rgb(255 255 255 / 54%);
            }

            .css-bhp9pd-MuiPaper-root-MuiCard-root {
                background-color: #34373a;
                color: rgb(255 255 255 / 87%);
                border-radius:10px;
            }

            .css-83ijpv-MuiTypography-root {
                color: #e5e5e6;
            } 
        }

        .base-Popper-root{
            .css-1ps6pg7-MuiPaper-root {
                background-color: #34373a;
                color: rgb(255 255 255 / 87%);
            }
        }

        .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
            background-color: #34373a;
            color: rgb(255 255 255 / 87%);
        }

        .css-1t5wrdm-MuiDataGrid-filterForm {
            background: #34373a;
        }

        .css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input {
            color: white;
        }

        .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
            color: rgb(255 255 255 / 60%);
        }

        .css-ptiqhd-MuiSvgIcon-root {
            color: white;
        }

        .css-10bey84-MuiSvgIcon-root-MuiNativeSelect-icon{
            color: rgb(255 255 255 / 54%);
        }

        .css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input:not([multiple]) option, .css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input:not([multiple]) optgroup{
            background-color: #34373a;
        }

        .css-154sxbz-MuiPaper-root-MuiDataGrid-paper{
            background: #34373a;
            border-radius: 10px;
        }

        .css-154sxbz-MuiPaper-root-MuiDataGrid-paper{
            color: rgb(255 255 255 / 87%);
        }

        .css-1x51dt5-MuiInputBase-input-MuiInput-input{
            color: rgb(255 255 255 / 87%);
        }
       
    }
}
